header, main, footer {
    max-width: 960px;
    margin: 0 auto;
    font-family: Rockwell, "Courier Bold", Courier;
    ;
}

header, footer {  
    border-radius: 15px;
    padding: .5rem;
    background-color: rgb(44, 85, 6);
}
body {
    font-size: 14px;
}
header img {
    float: right;
    height: 160px;
    width: auto;
    border-radius: 4px;
}